*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background:#284c4a ;
    animation: glow linear 5s infinite;
}
@keyframes glow{
  0%{background-color:rgb(31, 157, 144);}
  50%{background-color:rgb(98,229,216) ;}
  100%{background-color: cadetblue;}
}
.drops{
    position:relative;
    top:10px;
    left:100px;
    animation: fall 4s linear 5s infinite;
  }
  @keyframes fall {
    0% {
      top: 10px;
    }
    100% {
      top: 1000px;
    }
}

.drops1{
  position:relative;
  top:-10px;
  left:100px;
  animation: fall 5s linear 10s infinite;
}
@keyframes fall {
  0% {
    top: 10px;
  }
  100% {
    top: 1000px;
  }
}
.drop,.drop1,.drop2{
    width:150px;
    height: 150px;
    background:transparent;
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.5),
    inset -10px -10px 15px rgba(255,255,255,0.9);
}
.drop1{
  position: relative;
  top:-30px;
  left:150px;
  transform :scale(0.75); 
}
.drop2{
  position: relative;
  top:-100px;
  left:250px;
  transform :scale(0.50); 
}
.drop::before,.drop1::before,.drop2::before{
    content:"" ;
    position: absolute;
    top:25px;
    left:35px;
    background:rgb(255, 255, 255);
    width:20px;
    height:20px;
    border-radius: 50%;
}
.drop::after,.drop1::after,.drop2::after{
    content:"" ;
    position: absolute;
    top:25px;
    left:65px;
    background:rgb(255, 255, 255);
    width:10px;
    height:10px;
    border-radius: 50%;
}

