* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  background-image: url("./Images/kg-orchids1.png");
  background-position: center;
  /*animation: glow 4s linear 15s infinite;*/
}
/*@keyframes glow {
  0% {
    background-color: rgb(30, 58, 55);
  }
  25% {
    background-color: rgb(51, 124, 117);
  }
  50% {
    background-color: rgb(8, 136, 127);
  }
  75% {
    background-color: rgb(8, 82, 102);
  }
  100% {
    background-color: rgb(5, 66, 68);
  }
}*/
.drops {
  position: relative;
  top: -50px;
  left: 0px;
  width: 0.33vw;

  animation: fall 4s linear 15s infinite;
}
@keyframes fall {
  0% {
    top: 10px;
  }
  100% {
    top: 1000px;
  }
}

.drops1 {
  position: relative;
  top: -50px;
  left: 0px;
  width: 0.33vw;
  animation: fall 3s linear 10s infinite;
}
@keyframes fall {
  0% {
    top: 10px;
  }
  100% {
    top: 1000px;
  }
}
.drops2 {
  position: relative;
  top: -50px;
  left: 0px;
  width: 0.33vw;

  animation: fall 2s linear 12s infinite;
}
@keyframes fall {
  0% {
    top: 10px;
  }
  100% {
    top: 1000px;
  } 

}
.drop,
.drop1,
.drop2 {
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}
.drop:nth-child(2),
.drop1:nth-child(2),
.drop2:nth-child(2) {
  transform: scale(0.75) translate(200px, 180px);
}
.drop:nth-child(3),
.drop1:nth-child(3),
.drop2:nth-child(3) {
  transform: scale(0.65) translate(-50px, 10px);
}
.drop:nth-child(4),
.drop1:nth-child(4),
.drop2:nth-child(4) {
  transform: scale(1.1) translate(350px, 60px);
}
.drop:nth-child(5),
.drop1:nth-child(5),
.drop2:nth-child(5) {
  transform: scale(0.75) translate(350px, 20px);
}
.drop:nth-child(6),
.drop1:nth-child(6),
.drop2:nth-child(6) {
  transform: scale(0.7) translate(350px, 70px);
}
.drop:nth-child(7),
.drop1:nth-child(7),
.drop2:nth-child(7) {
  transform: scale(0.66) translate(250px, 90px);
}
.drop:nth-child(8),
.drop1:nth-child(8),
.drop2:nth-child(8) {
  transform: scale(0.66) translate(550px, 120px);
}
.drop:nth-child(9),
.drop1:nth-child(9),
.drop2:nth-child(9) {
  transform: scale(0.66) translate(250px, 20px);
}

.drop1 {
  position: relative;
  top: -130px;
  left: 550px;
  transform: scale(0.75);
}
.drop2 {
  position: relative;
  top: -200px;
  left: 1250px;
  transform: scale(0.5);
}
.drop::before,
.drop1::before,
.drop2::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 35px;
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.drop::after,
.drop1::after,
.drop2::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 65px;
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
@media screen and (max-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    background-image: url("./Images/kg-orchids2.png");
    width: auto;

    /* background-color: coral;
    animation: glow 4s linear 15s infinite;
  }
  @keyframes glow {
    0% {
      background-color: rgb(194, 112, 53);
    }
    25% {
      background-color: rgb(242, 236, 53);
    }
    50% {
      background-color: rgb(227, 92, 19);
    }
    75% {
      background-color: rgb(102, 35, 8);
    }
    100% {
      background-color: rgb(231, 175, 9);
    }
  }*/
    .drops {
      position: relative;
      top: 10px;
      width: auto;
      animation: fall 4s linear 15s infinite;
    }
    @keyframes fall {
      0% {
        top: 10px;
      }
      100% {
        top: 1000px;
      }
    }
    .drops1 {
      position: relative;
      top: -50px;
      width: auto;

      animation: fall 3s linear 10s infinite;
    }
    @keyframes fall {
      0% {
        top: 10px;
      }
      100% {
        top: 1000px;
      }
    }
    .drops2 {
      position: relative;
      top: -50px;
      width: auto;

      animation: fall 2s linear 12s infinite;
    }
    @keyframes fall {
      0% {
        top: 10px;
      }
      100% {
        top: 1000px;
      }
    }

    .drop1 {
      position: relative;
      top: -130px;
      left:0px;
      transform: scale(0.75);
    }
    .drop2 {
      position: relative;
      top: -200px;
      left:0px;
      transform: scale(0.5);
    }

    .drop:nth-child(2),
    .drop1:nth-child(2),
    .drop2:nth-child(2) {
      transform: scale(0.75) translate(200px, 180px);
    }
    .drop:nth-child(3),
    .drop1:nth-child(3),
    .drop2:nth-child(3) {
      transform: scale(0.65) translate(150px, 80px);
    }
    .drop:nth-child(4),
    .drop1:nth-child(4),
    .drop2:nth-child(4) {
      transform: scale(0.8) translate(75px, 160px);
    }
    .drop:nth-child(5),
    .drop1:nth-child(5),
    .drop2:nth-child(5) {
      transform: scale(0.75) translate(150px, 20px);
    }
    .drop:nth-child(6),
    .drop1:nth-child(6),
    .drop2:nth-child(6) {
      transform: scale(0.7) translate(250px, 70px);
    }
    .drop:nth-child(7),
    .drop1:nth-child(7),
    .drop2:nth-child(7) {
      transform: scale(0.66) translate(200px, 90px);
    }
    .drop:nth-child(8),
    .drop1:nth-child(8),
    .drop2:nth-child(8) {
      transform: scale(0.66) translate(50px, 120px);
    }
    .drop:nth-child(9),
    .drop1:nth-child(9),
    .drop2:nth-child(9) {
      transform: scale(0.66) translate(150px, 20px);
    }
  }
}
